#dashboard {
    background: url(../img/knightBattleground.jpg) no-repeat center center; 
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;    
}

#dashboard .overlay {
       padding-top: 120px;
       background-color: rgba(36, 36, 36, 0.5);
       min-height: 970px;
       padding-bottom: 40px;
   }
   
a{
	color:#B20000;
	font-weight:900;
	font-size:16px;
}

a:visited{
	color:#B20000;
	font-weight:900;
}


.link{
	margin-bottom:30px;
}
.infoHead{
	font-family: 'Metamorphous', 'Lato';
	color:black !important;
	text-align: center;
	font-weight:900;
	margin-bottom:30px;
	font-size:20px;
}
.info{
	color:white !important;
	font-weight:900;
	margin-bottom:10px;
	font-size:20px;
	line-height: 1;
}
.bl {
	border-left: 1px solid;
	color:white;
}
.br {
	border-right: 1px solid;
	color:white;
}
.infoSec{
	min-height: 400px;
}