#dashboard {
    background: url(../img/knight.jpeg) no-repeat center center; 
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;    
}

#dashboard .overlay {
       padding-top: 120px;
       background-color: rgba(36, 36, 36, 0.5);
       min-height: 970px;
       padding-bottom: 40px;
   }